nav li {
	display: inline-block;
	width: 150px;
	margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Century Gothic", Futura;
	text-transform: uppercase;
}
nav a {
	color: darkslategray;
	text-decoration: none;
}
nav ul {
	list-style: none;
}

li a {
    color: darkslategray;
	text-decoration: none;
}
main ul {
    list-style: none;
}

body{
	font: 125%/1.5 "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2em;
	color: #333;
	margin: 0 auto;
	padding: 0;
	background-image: url(../paper-texture.jpg);
    background-attachment: fixed;
	
	text-align: center;
}

img {
    margin: 5em auto;
}
